:host ::ng-deep {
  &.stepper-container {
    .p-stepitem {
      .p-steppanel {
        background: transparent;

        .step-panel-content-container {
          font-size: 11px;
          color: var(--buckly-ink-ghost);
          height: 40px;
        }
      }

      .p-step-active {
        .p-step-number {
          background: var(--buckly-orange);
        }
      }
    }
  }
}